<a href="/admin/dashboard">Back to Dashboard</a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>
<form action="/admin/add-post" method="POST">
    <label for="title">
        <b>Title:</b>
    </label>
    <input
        type="text"
        name="title"
        placeholder="Post Title"
        required
    >
    <label for="content">
        <b>Content:</b>
    </label>
    <textarea
        name="body"
        cols="50"
        rows="50"
        placeholder="Post Content"
        required
    ></textarea>
    <input type="submit" value="Add Post" class="btn">
</form>
